<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224650290378-mf1i5oihans4ithdhrq0f5lmparkvunv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224650290378-mf1i5oihans4ithdhrq0f5lmparkvunv</string>
	<key>API_KEY</key>
	<string>AIzaSyATFdefmuGsbZ6PB6lvUB4Ngj0ZNO2y_S0</string>
	<key>GCM_SENDER_ID</key>
	<string>224650290378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fursanCart</string>
	<key>PROJECT_ID</key>
	<string>fursan-cart-59e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fursan-cart-59e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224650290378:ios:89890e06558d79a366c033</string>
</dict>
</plist>